*{
    box-sizing: border-box
}

body{
    /* Create the background-color is cyan */
    background-color: cyan;
    /* font-family is created here */
    font-family: 'Roboto', sans-serif;
    /* text color is white */
    color: black;
    /* To use align-items and justify-content,
    you will need display: flex */
    display: flex;
    /* Align items to the center horizontally */
    align-items: center;
    /* Align items to the center vertically */
    justify-content: center;
    /* To align items horizontally downward, need
    to set the height: 100vh */
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

span{
    color:brown;
}

.counter-container{
    display: flex;
    flex-direction:column;
    /* Align items to the center vertically */
    justify-content: center;
    /* top-bottom; left-right */
    margin: 30px 50px;
    text-align: center;
     
    
}


.counter{
    
    justify-content: center;
    font-size: 60px;
}



.icon{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 60px;
    
}



/* media-queries, if it is below 580px, i want
flex-direction to be column */
@media(max-width: 580px){
    body{
        flex-direction: column;
    }
}

