@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  /* The transform will start at the top left corner of the screen */
  transform-origin: top left;
  /* Transition of 0.4s created on the container */
  transition: transform 0.4s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

/* Toggling the Rotation of the Page */
.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  /* This is the Transition for the Button */
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

/* Removing the outline when in focus */
.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

/* Selecting the Adjacent Siblings Combinator */
/* Select the element that is immediately Preceded by the
Specified Element */
/* show-nav class is created when the button is clicked using JavaScript*/
/* Target the li that is the child of the nav element */
.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.2s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  /* Removing the Bullet Point from the nav ul */
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  /* How much the first element move */
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

/* Target the second element of the ul */
nav ul li + li {
  margin-left: 15px;
  /* How much the second element move */
  transform: translateX(-150%);
}

/* Target the third element of the ul */
nav ul li + li + li {
  margin-left: 30px;
  /* How much the third element move */
  transform: translateX(-200%);
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

/* When you hover over the a tags */
nav a:hover {
  color: brown;
  font-weight: bold;
}

/* This is the max-width of 100% of the viewport */
.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}






