@import url('https://fonts.googleapis.com/css?family=Montserrat:400, & display=swap');

:root{
    --border-color: #144fc6;
    --fill-color: #6ab3f8;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #3494e4;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    /* Entire Container in the body
    as a whole become a flex item */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Anything that is out of the viewport views
    will be hidden, it mean to say there will be no
    scrolling downward upward and sideward */
    overflow: hidden;
    margin-bottom:40px;
    
}

h1{
    margin: 10px 0 0;
}

h3{
    font-weight: 700;
    margin: 10px 0;
}


.cup{
    background-color: #fff;
    border: 4px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 20px 20px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    /* Individual Items become flex now */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.cup.cup-small{
    height: 95px;
    width: 50px;
    border-radius:0 0 15px 15px;
    background-color: rgba(255,255,255,0.9);
    cursor:pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
    
}

.cup.cup-small.full{
    background-color: var(--fill-color);
    color: white;
}

.cups{
    display: flex;
    flex-wrap: wrap;
    /* Set the width on the entirety
    of the 8 cups to 280px */
    width: 280px;
    align-items: center;
    justify-content: center;
    
}

.remained{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}

.remained span{
    font-size: 20px;
    font-weight: bold;
}

.remained small{
    font-size: 12px;
    
       
}

.percentage{
    background-color: var(--fill-color);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    transition: 0.3s ease;
    
}

.text{
    text-align: center;
    margin: 0 0 5px;
    
}